*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:"Roboto", sans-serif;
  padding: 0.2em;
  background-color: rgb(240, 243, 243);
}
.title{
  text-align: center;
  margin: 1em 0;
  font-size: 2em;
  background-color: green;
  color: rgb(252, 254, 252);
  font-family: 'Big Shoulders';
  
  
  
}

.title span{
  font-size: 45px;
  font-family:'Big Shoulders' Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li{
  display: inline-block;
  margin: 0.5em;
  font-size: 1.2em;
  padding: 0.5em 1em;
  background: #eee;
  cursor: pointer;
  transition: 0.3s;
}
.menu .inactive{
  background: #eee;
}
.menu .active{
  background: #ccc;
}
.menu .active:hover{
  background: #aeaeae;
}
.menu .inactive:hover{
  background: #dddddd;
}
.news-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1em;
  justify-content: center;
  justify-items: center;
  max-width:100%;
  margin: 0 auto;
  padding: 2em;
}
.article{
  background: rgb(240, 239, 239);
  box-shadow: 0 0 5px rgb(121, 109, 109);
  width: 27em;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  padding-bottom: 0.3em;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.article:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0.2);
}
.article-content{
  padding: 0.8 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  flex-grow: 1;
  margin-left: 10px;
}
.article-source{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.article-image{
  overflow: hidden;
  margin-bottom: 0.5em;
  position: relative;
  height: 15em;
}
.article-image img{
  position: absolute;
  top:50% ;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
}
.article:hover .article-image img{
  transform: translate(-50%, -50%) scale(1.1);
}
.article-source span{
    color: blue;
}
.article p{
  line-height: 18px;
  color: #555;
  padding: 10px;
  margin-left: 5px;
}
.article-details{
  padding: 20px;
  color: #7a7979;
}
@media screen and (max-width:1330px){
  html{
    font-size: 14px;
  }
  
  .news-grid{
    grid-template-columns: 1fr,  1fr;
  }
}
@media screen and (max-width:900px){
  .article{
    grid-template-columns: 1fr;
  }
  .news-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    
  }
 .menu li{
    display: inline-block;
    font-size: 16px;
    padding: 4px;
    line-height: 1;
  }
    
  }
